---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("work");
---

<Layout title="Welcome">
  <main>
    <Banner title="Being useful since 2007" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-4 fw-normal mb-2">Techincal solutions to human problems</h2>

      <p>
        Here at Atomic Horse we just want to help you, who ever you are, what
        ever you do to make the best of your online presence.
      </p>
    </section>
    <section class="card-grid">
      {allBlogPosts.map((item: any) => (
          <Card 
              heading={item.data.title}
              content={item.data.description}
              imageSrc={item.data.image}
              imageAlt={item.data.alt}
              link={`/work/${item.slug}`}
          />
      ))}
    </section>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-pink);
    --palette-contrast: var(--palette-light);
  }
</style>
