---
import { getCollection } from "astro:content";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import CurrentWork from "../components/CurrentWork.astro";

const allBlogPosts = await getCollection("blog");

const meta: MetaTags = {
  title: "Latest Digital News ",
  description: "Keep up to date with the latest news in the world of website development, design and support. We include non-digital news too and like to cover Brighton-based stories."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Brighton digital news" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">Light reading for fun and pleasure</h2>

      <p>
        A collection of our thoughts on life, the universe, and everything. A selection of things we find interesting and hope you do too.
      </p>
    </section>
    <section class="card-grid">
      {
        allBlogPosts.map((item: any) => (
        <Card 
            heading={item.data.title}
            content={item.data.description}
            imageSrc={item.data.image}
            imageAlt={item.data.alt}
            link={`/blog/${item.slug}`}
        />
      ))}
    </section>
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-electric-blue);
    --palette-contrast: var(--palette-dark);
  }
</style>
