---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("case-studies");
---

<Layout title="Welcome">
  <main>
    <Banner title="Some of our best work" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">Technical solutions to human problems</h2>

      <p>
        Take a look at some of your problems and see how we solved them. See how we've helped our clients with their digital problems by reading our case studies. These are an in-depth look at our approach to our work and some of the results we've achieved.
      </p>
    </section>
    <section class="card-grid">
      {allBlogPosts.map((item: any) => (
          <Card 
              heading={item.data.title}
              content={item.data.description}
              imageSrc={item.data.image}
              imageAlt={item.data.alt}
              link={`/case-studies/${item.slug}`}
          />
      ))}
    </section>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
