---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("case-studies");
---

<Layout title="Welcome">
  <main>
    <Banner title="Some of our best work" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">Technical solutions to human problems</h2>

      <p>
        Check out the challenges our clients faced and how we tackled them. Our case studies offer a detailed glimpse into our problem-solving approach and the impressive results we've achieved. Discover how Atomic Horse Digital has helped businesses overcome their digital hurdles.
      </p>
    </section>
    <section class="card-grid">
      {allBlogPosts.map((item: any) => (
          <Card 
              heading={item.data.title}
              content={item.data.description}
              imageSrc={item.data.image}
              imageAlt={item.data.alt}
              link={`/case-studies/${item.slug}`}
              noImageBackground
          />
      ))}
    </section>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
