---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("case-studies");
---

<Layout title="Welcome">
  <main>
    <Banner title="Some of our best work" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">Techincal solutions to human problems</h2>

      <p>
        Some of your problems and our solutions. See how we've helped our clients with their digital problems by reading our case studies. These are in-depth looks at our approach to our work and some of the results we've achieved.
      </p>
    </section>
    <section class="card-grid">
      {allBlogPosts.map((item: any) => (
          <Card 
              heading={item.data.title}
              content={item.data.description}
              imageSrc={item.data.image}
              imageAlt={item.data.alt}
              link={`/case-studies/${item.slug}`}
          />
      ))}
    </section>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-pink);
    --palette-contrast: var(--palette-light);
  }
</style>
