---
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import ContactForm from "../components/ContactForm.astro";
import Strip from "../components/Strip.astro";
import Calendly from "../icons/Calendly.astro";
import Email from "../icons/Email.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import { EMAIL, CALENDLY, FACEBOOK, LINKEDIN } from "../utils/constants";
import Facebook from "../icons/Facebook.astro";
import LinkedIn from "../icons/LinkedIn.astro";

const meta: MetaTags = {
  title: "Contact Our Brighton Website Agency",
  description: "Contact us so we can chat through your website design and development needs. We can get to know each other better and agree best plan of action to solve you digital business problems."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Get in touch" showHorse />
    <Strip>
      <div class="wrapper">
        <div class="contact-grid">
          <div class="contact-copy">
            <p class="text-0 fw-medium">
              We ❤️ hearing from new clients. If you have a project in mind, a problem you need solving or just want to tell us about your day, please get in touch using the form. 
            </p>
            <p class="text-0">
              If you are too cool for forms then please use any of the methods below and we will do our best to get back to you as soon as we can. 
            </p>

            <ul class="icon-list">
              <li>
                  <a href={`mailto:${EMAIL}`}>
                      <Email />
                      Email us
                  </a>
              </li>
              <li>
                  <a href="">
                      <Whatsapp />
                      Chat with us
                  </a>
              </li>
              <li>
                  <a href={CALENDLY} target="_blank">
                      <Calendly />
                      Book a meeting
                  </a>
              </li>
              <li>
                <a href={FACEBOOK}>
                    <Facebook />
                    Follow us
                </a>
              </li>
              <li>
                  <a href={LINKEDIN}>
                      <LinkedIn />
                      Work with us
                  </a>
              </li>
          </ul>
          </div>
          <div class="contact-form">
            <ContactForm />
          </div>
        </div>
      </div>
    </Strip>
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-purple);
    --palette-contrast: var(--palette-light);
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 2fr;
    }
    gap: var(--space-xl);
  }

  .icon-list {
    margin-top: var(--space-l);
  }
</style>
