---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import GradientContentStrip from "../components/GradientContentStrip.astro";
import Clients from "../components/Clients.astro";
import Card from "../components/Card.astro";
import Strip from "../components/Strip.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import HorseImage from "../components/HorseImage.astro";
import { getCollection } from "astro:content";

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

const services = await getCollection('service');
---

<Layout title="Welcome">
  <main>
    <Banner title="Being useful since 2007" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">
        Techincal solutions to human problems
      </h2>

      <p class="text-1">
        A technical and creative digital agency supporting the people behind
        businesses large and small.
      </p>
    </section>
    <Strip theme="DARK">
      <div class="wrapper">
        <div class="grid">
          <div class="contents">
            <p class="text-1 fw-medium">
              Atomic Horse is a digital agency that puts the people ahead of the technology. We understand that the digital world is key to many businesses success and that it can also be overwhelming and scary. 
            </p>
            <p class="text-0">
              We are here to help our clients not only find their place online but to thrive there. We offer a range of digital and creative services including: web design, web development and design, branding, logos, consultancy and support packages.
            </p>
          </div>
          <div class="image">
            <HorseImage />
          </div>
        </div>
      </div>
    </Strip>
    <GradientContentStrip>
      <p class="tag">Company</p>
      <h2 class="heading text-3 fw-medium">Who we are</h2>

      <p class="text-1 fw-medium">
        Founded in 2007, Atomic Horse has been providing technical solutions to human problems for over a decade. We pride ourselves on our ability to create custom solutions to fit every problem our clients come to us with.
      </p>

      <p>
        We were founded on one simple principe - to <em>"be useful"</em>. We believe that technology should be used to make people's lives easier, and we strive to create digital experiences that are both beautiful, functional and for everyone. We are passionate about helping our clients succeed in the often confusing digital world, and like nothing more than watching our clients take our work and run with it.
      </p>

      <p>
        We are a small team of diverse professionals united by our goal of being useful. We are always looking for new challenges and interesting problems to solve. If you have a project you think we could help with, please <a href="/contact-us">get in touch</a>.
      </p>
    </GradientContentStrip>
    <Strip theme="DARK">
      <div class="wrapper">
        <div class="gallery-header">
          <div class="gallery-header__title">
            <p class="tag">Services</p>
            <h2 class="heading">What can we do for you</h2>
          </div>
          <div class="gallery-header__nav">
            <div class="button swiper-button-next"></div>
            <div class="button swiper-button-prev"></div>
          </div>
        </div>
        
        <div class="card-swiper">
          
          <div class="swiper-wrapper">
            {
              services.map((item: any, i: number) => (
                <div class="swiper-slide">
                  <Card
                    heading={item.data.title}
                    imageSrc={item.data.image}
                    imageAlt={item.data.alt}
                    iconMode={true}
                    content="Te has repudiare moderatius, pro persius splendide id. Legere sententiae percipitur vim ne."
                    link={`/services/${item.slug}`}
                  />
                </div>  
            ))}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </Strip>
    <Strip theme="MID">
      <FeaturedProject />
    </Strip>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }

  .swiper-pagination {
    position: relative;
    margin-top: var(--space-l);
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
  }

  .gallery-header__nav {
    position: relative;
  }
</style>

<script>
  import { Swiper } from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  document.addEventListener('astro:page-load', () => {
    new Swiper(".card-swiper", {
      modules: [Navigation, Pagination],
      spaceBetween: 60,
      slidesPerView: 3, // Default to 3 slides per view
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        // When the screen is <= 500px
        200: {
          slidesPerView: 1, // Show 1 slide
          spaceBetween: 20, // Reduce space between slides if needed
        },
        // When the screen is <= 768px
        500: {
          slidesPerView: 2, // Show 2 slides
          spaceBetween: 40, // Adjust space between slides
        },
        // When the screen is > 768px (default behavior)
        769: {
          slidesPerView: 3, // Show 3 slides
          spaceBetween: 60, // Adjust space between slides for large screens
        },
      },
    });
  });
</script>
