---
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import GradientContentStrip from "../components/GradientContentStrip.astro";
import Clients from "../components/Clients.astro";
import Card from "../components/Card.astro";
import Strip from "../components/Strip.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import HorseImage from "../components/HorseImage.astro";
import { getCollection } from "astro:content";

import "swiper/css";
import "swiper/css/navigation"
import "swiper/css/pagination";

const services = await getCollection('service');
const meta: MetaTags = {
  title: "Website Development Agency Brighton | Web Design",
  description: "Digital and creative agency providing friendly and simple support for all your website needs. We design, build and maintain your website, so your business can thrive online."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Brighton website agency" subtitle="Being useful since 2018" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">
        Technical solutions to human problems
      </h2>
    </section>
    <Strip theme="DARK">
      <div class="wrapper">
        <div class="grid">
          <div class="contents">
            <p class="text-1 fw-medium">
              We’re a Brighton-based digital agency that puts people first. We take time to understand you and your business and provide technical solutions to human problems.
            </p>
            <p class="text-0">
              The digital landscape is key to business success and we understand how it works. We’re here to help our clients not only to find their place online but to thrive there too. We offer a range of digital and creative solutions:
            </p>

            <ul class="text-0">
              {
                services.map((item: any, i: number) => (
                  <li>
                    <a href={`/services/${item.slug}`}>{item.data.title}</a>
                  </li> 
                ))
              }
            </ul>
          </div>
          <div class="image">
            <HorseImage />
          </div>
        </div>
      </div>
    </Strip>
    <GradientContentStrip>
      <p class="tag">Company</p>
      <h2 class="heading text-3 fw-medium">Who we are</h2>

      <p class="text-1 fw-medium">
        Founded in 2018, Atomic Horse has been providing technical solutions to human problems for over a decade. We pride ourselves on our ability to create custom solutions to fit every problem our clients come to us with.
      </p>

      <p>We’re guided by one simple principle: <em>"be useful"</em>. We believe that technology should be used to
      make people's lives easier. This is why we create digital experiences that are beautiful, functional
      and for everyone.</p>

      <p>We’re passionate about creating tailored solutions for our clients that enable them to take our work
      and run with it.</p>

      <p>We’ve been providing digital solutions to human problems for over 15 years. We’re small and
      diverse professionals, always looking for a new challenge.</p>
    </GradientContentStrip>
    <Strip theme="DARK">
      <div class="wrapper">
        <div class="gallery-header">
          <div class="gallery-header__title">
            <p class="tag">Services</p>
            <h2 class="heading">What we can do for you and your business</h2>
          </div>
          <div class="gallery-header__nav">
            <div class="button swiper-button-prev"></div>
            <div class="button swiper-button-next"></div>
          </div>
        </div>
        
        <div class="card-swiper">          
          <div class="swiper-wrapper">
            {
              services.map((item: any, i: number) => (
                <div class="swiper-slide">
                  <Card
                    heading={item.data.title}
                    imageSrc={item.data.image}
                    imageAlt={item.data.alt}
                    iconMode={true}
                    content={item.data.shortDescription}
                    link={`/services/${item.slug}`}
                  />
                </div>  
            ))}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </Strip>
    <Strip theme="MID">
      <FeaturedProject />
    </Strip>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-pink);
    --palette-contrast: var(--palette-light);
  }
  
  .card-swiper {
    max-width: 100vw;
    overflow: hidden;
  }

  .swiper-pagination {
    position: relative;
    margin-top: var(--space-l);
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
  }

  .gallery-header__nav {
    position: relative;
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    margin: 0 !important;
    width: 48px;
    height: 48px;
    
    &::after {
      font-size: 24px;
      color: var(--palette-light);
    }
  }

  .swiper-button-next {
    margin-left: var(--space-xs) !important;
  }
</style>

<script>
  import { Swiper } from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  document.addEventListener('astro:page-load', () => {
    new Swiper(".card-swiper", {
      modules: [Navigation, Pagination],
      spaceBetween: 60,
      slidesPerView: 3, // Default to 3 slides per view
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        200: {
          slidesPerView: 1, 
          spaceBetween: 20, 
        },
        500: {
          slidesPerView: 2, 
          spaceBetween: 40, 
        },
        768: {
          slidesPerView: 3, 
          spaceBetween: 60, 
        },
      },
    });
  });
</script>
