---
import { getCollection } from "astro:content";
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Strip from "../components/Strip.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Clients from "../components/Clients.astro";

const strategyServices = await getCollection('service', ({ data }) => {
  return data.tags.includes('strategy');
});

const digitalServices = await getCollection('service', ({ data }) => {
  return data.tags.includes('digital');
});

const contentServices = await getCollection('service', ({ data }) => {
  return data.tags.includes('content');
});

const meta: MetaTags = {
  title: "All Website Services Brighton",
  description: "Find out what web services we offer. This includes web design, web development, website support and web hosting. We also design brands, logos and visual identites."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Our digital and creative services" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-bold mb-2">
        What can we do for you?
      </h2>

      <p class="text-1">
        At Atomic Horse, we believe in working together to bring your vision to life. Whether you’re laying the groundwork with strategy and branding, crafting a standout online presence, or spreading your message far and wide, we have the expertise to get you across the finish line.
      </p>
    </section>

    <p class="tag">Set the course for success</p>
    <h2 class="heading text-4 fw-normal">Strategy and Branding</h2>
    <p class="w-clamp-xl text-0 fw-medium">Every great journey starts with a solid plan, and that's where we come in. Our Strategy and Branding services help you define your vision, chart your path, and stand out in a competitive landscape.</p>
    
    <div class="services-grid">
      {
        strategyServices.map((item: any, i: number) => (
          <Strip theme={i % 2 === 0 ? 'MID' : 'DARK'}>
            <div class="wrapper strip-inner">
              <ServiceCard 
                tag="Creative"
                order={i % 2 === 0 ? 'ODD' : 'EVEN'}
                heading={item.data.title}
                imageSrc={item.data.image}
                imageAlt={item.data.alt}
              >
                <div slot="card-content">
                  <div set:html={item.data.description}></div>
                  { 
                    item.data.hasPage &&
                      <a href={`/services/${item.slug}`} class="button">
                        Learn more <span class="visually-hidden">about { item.data.title }</span>
                      </a>
                  }
                </div>
              </ServiceCard>
            </div>
          </Strip>
      ))}
    </div>
    <div class="wrapper strip-inner">
      <p class="tag">Showcase your talents</p>
      <h2 class="heading text-4 fw-normal">Digital Design and Development</h2>
      <p class="w-clamp-xl text-0 fw-medium">Your digital presence is often the first impression you make, so let’s make it unforgettable. Our Digital Design & Development services focus on creating user-friendly, impactful solutions that show off your brand and captivate your audience.
      </p>
      <div class="services-grid">
        {
          digitalServices.map((item: any, i: number) => (
            <Strip theme={i % 2 === 0 ? 'MID' : 'DARK'}>
              <div class="wrapper strip-inner">
                <ServiceCard 
                  tag="Digital"
                  order={i % 2 === 0 ? 'ODD' : 'EVEN'}
                  heading={item.data.title}
                  imageSrc={item.data.image}
                  imageAlt={item.data.alt}
                >
                  <div slot="card-content">
                    <div set:html={item.data.description}></div>

                    <a href={`/services/${item.slug}`} class="button">
                      Learn more <span class="visually-hidden">about { item.data.title }</span>
                    </a>
                  </div>
                </ServiceCard>
              </div>
            </Strip>
        ))}
      </div>
    </div>
    <div class="wrapper strip-inner">
      <p class="tag">Broadcast your brilliance</p>
      <h2 class="heading text-4 fw-normal">Content and Communication</h2>
      <p class="w-clamp-xl text-0 fw-medium">The right words and messaging can inspire, engage, and convert. With our Content and Communication services, we’ll help you create a narrative that resonates across all channels.
      </p>
      <div class="services-grid">
        {
          contentServices.map((item: any, i: number) => (
            <Strip theme={i % 2 === 0 ? 'MID' : 'DARK'}>
              <div class="wrapper strip-inner">
                <ServiceCard 
                  tag="Digital"
                  order={i % 2 === 0 ? 'ODD' : 'EVEN'}
                  heading={item.data.title}
                  imageSrc={item.data.image}
                  imageAlt={item.data.alt}
                >
                  <div slot="card-content">
                    <div set:html={item.data.description}></div>

                    <a href={`/services/${item.slug}`} class="button">
                      Learn more <span class="visually-hidden">about { item.data.title }</span>
                    </a>
                  </div>
                </ServiceCard>
              </div>
            </Strip>
        ))}
      </div>
    </div>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-orange);
    --palette-contrast: var(--palette-light);
  }
</style>
