---
import { getCollection } from "astro:content";
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Strip from "../components/Strip.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Clients from "../components/Clients.astro";

const creativeSercices = await getCollection('service', ({ data }) => {
  return data.tags.includes('creative');
});

const digitalServices = await getCollection('service', ({ data }) => {
  return data.tags.includes('digital');
});

const meta: MetaTags = {
  title: "All Website Services Brighton",
  description: "Find out what web services we offer. This includes web design, web development, website support and web hosting. We also design brands, logos and visual identites."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Our digital and creative services" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">
        What can we do for you?
      </h2>

      <p class="text-1">
        We ofter a range of creative and digital services to help you and your business succeed.
      </p>
    </section>
    <p class="tag">Services</p>
    <h2 class="heading text-4 fw-normal">Digital Services</h2>
    <p class="w-clamp-xl text-1 fw-medium">Useful technical work with humans at the center of it is our bread and butter.</p>
    
    <div class="services-grid">
      {
        digitalServices.map((item: any, i: number) => (
          <Strip theme={i % 2 === 0 ? 'MID' : 'DARK'}>
            <div class="wrapper strip-inner">
              <ServiceCard 
                tag="Creative"
                order={i % 2 === 0 ? 'ODD' : 'EVEN'}
                heading={item.data.title}
                imageSrc={item.data.image}
                imageAlt={item.data.alt}
              >
                <div slot="card-content">
                  <div set:html={item.data.description}></div>
                  <a href={`/services/${item.slug}`} class="button">Learn more</a>
                </div>
              </ServiceCard>
            </div>
          </Strip>
      ))}
    </div>
    <div class="wrapper strip-inner">
      <p class="tag">Services</p>
      <h2 class="heading text-4 fw-normal">Creative Services</h2>
    <p class="w-clamp-xl text-1 fw-medium">Our creative work centers around you and your business, producing designs and brands that are eye catching and memorable.</p>
      <div class="services-grid">
        {
          creativeSercices.map((item: any, i: number) => (
            <Strip theme={i % 2 === 0 ? 'MID' : 'DARK'}>
              <div class="wrapper strip-inner">
                <ServiceCard 
                  tag="Digital"
                  order={i % 2 === 0 ? 'ODD' : 'EVEN'}
                  heading={item.data.title}
                  imageSrc={item.data.image}
                  imageAlt={item.data.alt}
                >
                  <div slot="card-content">
                    <div set:html={item.data.description}></div>

                    <a href={`/services/${item.slug}`} class="button">Learn more</a>
                  </div>
                </ServiceCard>
              </div>
            </Strip>
        ))}
      </div>
    </div>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-orange);
    --palette-contrast: var(--palette-light);
  }
</style>
