---
import { Image } from 'astro:assets';

interface Props {
	heading: string;
	content: string;
	imageSrc: any;
	imageAlt: string;
	iconMode?: boolean;
	link: string;
}

const { heading, content, imageSrc, imageAlt, link, iconMode = false } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}');
if (!images[imageSrc]) throw new Error(`"${imageSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="card">
	<div class:list={['card__image', { iconMode: iconMode === true}]}>
		<a href={link}>
			<Image src={imageSrc} alt={imageAlt} width="800" height="400" class="card-image" />
		</a>
	</div>

	<h2>
		<a href={link}>
			{ heading }
		</a>
	</h2>
	<p class="line-clamp">{ content }</p>
	<a href={link} class="button">Learn more</a>
</section>
<style>
	.card {
		width: 100%;

		.card__image {
			border-radius: var(--border-radius);
			margin-bottom: var(--space-s);
			background: radial-gradient(85.3% 85.3% at 50% 117.34%, var(--palette-highlight) 0%, #282727 100%);
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 3 / 2;
			
			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				border-radius: var(--border-radius);
				margin-bottom: var(--space-s);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}  

			&.iconMode {
				a {
					padding: var(--space-l);
				}
				
				img {
					width: 80%;
					height: 100%;
					object-fit: contain;
					margin: auto;
				}
			}
		}

		a {
			color: var(--palette-light);
			text-decoration: none;
		}
		
		h2 {
			margin-bottom: var(--space-s);
		}
	}
</style>
