---
import { CALENDLY, EMAIL, FACEBOOK, LINKEDIN } from "../utils/constants";
import Calendly from "../icons/Calendly.astro";
import Email from "../icons/Email.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Facebook from "../icons/Facebook.astro";
import { getCollection } from "astro:content";

const year = new Date().getFullYear();
const creativeSercices = await getCollection('service', ({ data }) => {
  return data.tags.includes('creative');
});

const digitalServices = await getCollection('service', ({ data }) => {
  return data.tags.includes('digital');
});
---
<footer> 
    <section class="contact-strip">
        <div class="contact-block">
            <div class="contact-block__copy">
                <p class="tag">Contact</p>
                <h2 class="heading text-5 fw-medium">Get in touch</h2>

                <p>Lorem ipsum dolor sit amet, ei simul salutatus duo, ea eam dignissim gubergren dissentiet, cum unum definiebas at. Te est vocent appetere concludaturque. Vix ex veritus interesset, in simul solet facete vix. Delectus consetetur mediocritatem est ad. Ei pri modo tantas, esse deleniti eu vel.</p>
            </div>
            <div class="contact-block__links">
                <ul class="icon-list align-end">
                    <li>
                        <a href={`mailto:${EMAIL}`}>
                            <Email />
                            Email us
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <Whatsapp />
                            Chat with us
                        </a>
                    </li>
                    <li>
                        <a href={CALENDLY} target="_blank">
                            <Calendly />
                            Book a meeting
                        </a>
                    </li>
                </ul>
            </div>  
        </div>
    </section>
    <section class="footer-main">
        <div class="footer-main__column">
            <h2>Creative Services</h2>
            <ul>
                {
                    creativeSercices.map((item: any) => (
                        <li>
                            <a href={item.data.link}>
                                {item.data.title}
                            </a>
                        </li>
                     ))
                }
        </div>
        <div class="footer-main__column">
            <h2>Digital Services</h2>
            <ul>
                {
                    digitalServices.map((item: any) => (
                        <li>
                            <a href={item.data.link}>
                                {item.data.title}
                            </a>
                        </li>
                     ))
                }
        </div>
        <div class="footer-main__column">
            <h2>Company</h2>
            <ul>
                <li hidden>
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        About
                    </a>
                </li>
                <li>
                    <a href="/contact-us">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-main__column">
            <h2>Legal</h2>
            <ul>
                <li>
                    <a href="/cookies">
                        Cookies
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        Privacy policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-main__column">
            <ul class="icon-list align-end">
                <li>
                    <a href={FACEBOOK}>
                        <Facebook />
                        Follow us
                    </a>
                </li>
                <li>
                    <a href={LINKEDIN}>
                        <LinkedIn />
                        Work fo us
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-info">
        <p>&copy; {year} Atomic Horse ltd | Company No: 11279925</p>
        <p>This page emits just 0.06g of carbon | Eco hosted</p>
    </section>
</footer>
<style>
    footer {
        font-size: var(--step--1);
    }

    .contact-strip {
        padding: var(--space-m) 0;
    }

    .contact-block {
        background: var(--palette-mid);
        border-radius: var(--border-radius);
        padding: var(--space-m);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .contact-block__copy {
        flex: 0 0 65%;
    }    

    .footer-main {
        border-top: 2px solid var(--palette-light);
        padding: var(--space-l) 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-main__column {
        h2 {
            font-size: var(--step-0);
            font-weight: var(--fw-medium);
        }

        ul {
            list-style: none;
            margin: var(--space-xs) 0 0 0;
            padding: 0;

            a {
                color: currentColor;
                text-decoration: none;

                &:hover {
                    color: var(--palette-highlight);
                }
            }

            li + li {
                margin: var(--space-xs) 0 0 0;
            }
        }
    }

    .footer-info {
        border-top: 2px solid var(--palette-light);
        padding: var(--space-xs) 0 var(--space-m) 0;
        display: flex;
        justify-content: space-between;

        p {
            font-size: var(--step--2);
            text-decoration: none;
        }
    }
</style>