---
import Calendly from "../icons/Calendly.astro";
import Email from "../icons/Email.astro";
import Facebook from "../icons/Facebook.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Messenger from "../icons/Messenger.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import { EMAIL, CALENDLY, FACEBOOK, LINKEDIN, MESSENGER } from "../utils/constants";
import FullLogo from "./FullLogo.astro";
const pages = [
  {
    name: "About us",
    path: "/about-us",
    subPage: true
  },
  {
    name: "Services",
    path: "/services",
    subPage: false
  },
  // {
  //   name: "Work",
  //   path: "/case-studies",
  //   subPage: false
  // },
  // {
  //   name: "Blog",
  //   path: "/blog",
  //   subPage: true
  // },
  {
    name: "Contact us",
    path: "/contact-us",
    subPage: false
  },
];
---

<header data-target="header">
  <div class="wrapper">
    <a href={'/'} class="main-logo">
      <FullLogo />
    </a>
    <nav>
      <ul>
        {
          pages.filter(p => p.subPage === false).map((page) => (
            <li class:list={['hidden-item', { active: Astro.url.pathname === page.path }]}>
              <a href={page.path}>{page.name}</a>
            </li>
          ))
        }
        <li class="menu-button">
          <button class="toggle-button nav-toggle" aria-label="See full menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </li>
      </ul>
    </nav>

    <nav class="nav-menu">
      <div class="wrapper">
        <div class="menu-menu">
          <ul>
            {
              pages.map((page) => (
                <li class={Astro.url.pathname === page.path ? "active" : ""}>
                  <a href={page.path}>{page.name}</a>
                </li>
              ))
            }
          </ul>  
        </div>
        <div class="menu-contact">
          <h2>Contact us</h2>
          <ul class="icon-list align-end">
            <li>
                <a href={`mailto:${EMAIL}`}>
                    <Email />
                    Email us
                </a>
            </li>
            <li>
              <a href={MESSENGER}>
                  <Messenger />
                  Chat with us
              </a>
            </li>
            <li>
                <a href={CALENDLY} target="_blank">
                    <Calendly />
                    Book a meeting
                </a>
            </li>
            <li>
              <a href={FACEBOOK}>
                  <Facebook />
                  Follow us
              </a>
          </li>
          <li>
              <a href={LINKEDIN}>
                  <LinkedIn />
                  Work with us
              </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
  </div>

  <style>
    header {
      background-color: transparent;
      backdrop-filter: blur(10px);
      padding: var(--space-xs) 0;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      color: var(--palette-contrast);
      transition: background-color var(--animation-speed) linear, backdrop-filter var(--animation-speed) linear;

      &.stuck:not(.open) {
        background-color: rgba(0, 0, 0, 0.50);
        color: var(--palette-light);

        .logo {
          color: var(--palette-light);

          a {
            color: var(--palette-light);
          }
        }

        .nav-toggle span {
          background: var(--palette-light);
        }
      }

      .main-logo {
        z-index: 2;
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        text-decoration: none;
      }

      .logo {
        color: var(--palette-contrast);

        a {
          color: var(--palette-contrast);
        }
      }

      .toggle-button {
        display: flex;
        background: transparent;
        border: none;
        color: currentColor;
        cursor: pointer;
        position: relative;
        z-index: 2;
      }

      .nav-menu {
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--palette-highlight);
        color: var(--palette-contrast);
        width: 100vw;
        height: 100vh;
        overflow: auto;
        border-top: var(--space-3xl) solid var(--palette-highlight);
        padding: 0 0 var(--space-3xl) 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--animation-speed) ease-in-out;

        &.open {
          opacity: 1;
          pointer-events: all;
        }

        ul {
          display: block;

          li + li {
            margin-left: 0;
          }
        }

        a {
          font-size: var(--step-4);
          font-weight: var(--fw-medium);
        }

        .wrapper {
          align-items: flex-start;
          flex-wrap: wrap;
        }

        .icon-list {
          a {
            font-size: var(--step-1);
            text-transform: none;
            font-weight: var(--fw-medium);
            display: flex;
            background: none;
            @media (min-width: 768px) {
              justify-content: flex-end;
            }

            &:hover {
              color: var(--palette-contast);
            }
          }
        }
      }

      .menu-contact {
        text-align: left;
        flex: 0 0 100%;

        @media (min-width: 768px) {
          text-align: right;
          flex: 0 0 auto;
        }

        h2 {
          margin: var(--space-l) 0;
          @media (min-width: 768px) {
            margin: 0 0 var(--space-l) 0;
          }
        }
      }

      nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          text-transform: uppercase;
        }

        .hidden-item {
          @media (max-width: 767px) {
            display: none;
          }
        }

        li + li {
          margin-left: var(--space-m);
        }

        .active {
          a {
            font-weight: var(--fw-medium);
          }
        }

        a {
          font-size: var(--step--1);
          color: currentColor;
          display: inline-block;
          padding-bottom: 2px;
          background-image: linear-gradient(currentColor 0 0);
          background-position: 0 100%;
          background-size: 0% 2px;
          background-repeat: no-repeat;
          transition:
            background-size 0.3s,
            background-position 0s 0.3s;

          &:hover {
            background-position: 100% 100%;
            background-size: 100% 2px;
          }
        }
      }
    }


    .nav-toggle {
      width: 60px;
      height: 40px;
      position: relative;
      transform: scale(0.5) rotate(0deg);
      @media (min-width: 768px) {
        transform: scale(0.6) rotate(0deg);
      }
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    .nav-toggle span {
      display: block;
      position: absolute;
      height: 6px;
      width: 50%;
      background: var(--palette-contrast);
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    .nav-toggle span:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    .nav-toggle span:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }

    .nav-toggle span:nth-child(1), .nav-toggle span:nth-child(2) {
      top: 0px;
    }

    .nav-toggle span:nth-child(3), .nav-toggle span:nth-child(4) {
      top: 18px;
    }

    .nav-toggle span:nth-child(5), .nav-toggle span:nth-child(6) {
      top: 36px;
    }

    .nav-toggle.open span:nth-child(1), .nav-toggle.open span:nth-child(6) {
      transform: rotate(45deg);
    }

    .nav-toggle.open span:nth-child(2), .nav-toggle.open span:nth-child(5) {
      transform: rotate(-45deg);
    }

    .nav-toggle.open span:nth-child(1) {
      left: 5px;
      top: 7px;
    }

    .nav-toggle.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 7px;
    }

    .nav-toggle.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    .nav-toggle.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    .nav-toggle.open span:nth-child(5) {
      left: 5px;
      top: 29px;
    }

    .nav-toggle.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 29px;
    }
  </style>

  <script>
    document.addEventListener('astro:page-load', () => {
      const header = document.querySelector('[data-target="header"]');
      const stick = () => {
        const scrollPosition = window.scrollY;

        if (scrollPosition > 75) {
          header?.classList.add("stuck");
        } else {
          header?.classList.remove("stuck");
        }
      }
      stick();
      window.addEventListener("scroll", () => {
        stick();
      });
      const navIcon = document.querySelector('.nav-toggle');
      const menu = document.querySelector('.nav-menu');
    
      navIcon?.addEventListener('click', function() {
        this.classList.toggle('open');
        menu?.classList.toggle('open');
        header?.classList.toggle('open');
        document.body.classList.toggle('no-scroll');
      });
    });
  </script>
</header>
