---
import Banner from '../components/Banner.astro';
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <Banner showHorse title={frontmatter.title} />
  <h1>{frontmatter.title}</h1>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</Layout>
<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
<script>
	import { setTheme } from '../utils/theme';
	document.addEventListener('astro:page-load', () => setTheme());
</script>